<p *ngIf="errorMessage">{{ errorMessage }}</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h3>To-Do List</h3>
        </div>
        <div class="card-body">
          <!-- Input to add new to-do item -->
          <div class="mb-3 d-flex">
            <input [(ngModel)]="todo.title" class="form-control border-radius" placeholder="Enter a new task" /> &nbsp;
            <button type="submit" class="btn btn-success btn-sm border-radius" (click)="add()">Add</button>
          </div>

          <!-- List of to-do items -->
            <ul class="list-group border-radius">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let todo of allTodos; let i = index">
              <input type="text" class="form-control" [(ngModel)]="todo.title" [disabled]="!todo.isEditing" /> &nbsp;
              <input type="text" class="form-control" [(ngModel)]="todo.isCompleted" [disabled]="!todo.isEditing" />&nbsp;
              <button class="btn btn-primary btn-sm border-radius" (click)="edit(todo)">{{todo.isEditing ? 'Save' : 'Edit'}}</button> &nbsp;
              <button *ngIf="!todo.isEditing" class="btn btn-danger btn-sm border-radius" (click)="delete(todo.id)">
                Remove
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>