<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 border-light border-radius-0" style="background-color: #f9f9f9; border-color: #eaeaea; width: 400px;">
        <h2 class="text-center" style="color: #5a5a5a;">Login</h2>
        <form (ngSubmit)="onLogin()">
            <div class="mb-3">
                <label class="form-label" style="color: #6c757d;">UserName:</label>
                <input type="text" name="username" [(ngModel)]="credentials.username" class="form-control border-radius-0" placeholder="Enter your username" style="background-color: #ffffff; border-color: #dcdcdc;">
            </div>
            <div class="mb-3">
                <label class="form-label" style="color: #6c757d;">Password:</label>
                <input type="password" name="password" [(ngModel)]="credentials.password" class="form-control border-radius-0" placeholder="Enter your password" style="background-color: #ffffff; border-color: #dcdcdc;">
            </div>
            <button class="btn w-100 border-radius-0" style="background-color: #e0f7fa; color: #00796b; border-color: #b2dfdb;">Login</button>
        </form>
        <p *ngIf="errorMessage" class="text-danger mt-3 text-center">
            {{ errorMessage }}
        </p>
        <p class="text-center mt-3" style="color: #6c757d;">
            Don't have an account? <a href="/register" style="color: #00796b;">Register here</a>
        </p>
    </div>
</div>
