<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MyApp</a>
      </div>
  
      <!-- Navbar Right -->
    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn()">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person"></i> Profile
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" (click)="goToProfile()">My Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
<div class="toaster-container" *ngIf="toasterService.messages.length" >
    <div *ngFor="let m of toasterService.messages" [ngClass]="m.type == 1 ? 'alert alert-danger d-flex align-items-center mb-2' : 'alert alert-success d-flex align-items-center mb-2'" role="alert" style="border-radius: 0px;">
        <span>{{ m.message }}</span>
    </div>
</div>
<router-outlet></router-outlet>